<<<<<<< HEAD
=======
/* Estilo em comum em todas as páginas */


>>>>>>> js
/*Estilos da página index.html*/
.center {
    text-align: center;
 }
 
 .justify{
<<<<<<< HEAD
    text-align: justify;
=======
    text-align: center;
>>>>>>> js
 }
 
 .container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
=======
    color: rgb(52, 52, 66);
    font-family: 'Fira Sans', sans-serif;
>>>>>>> js
 }  
 
 #menu li {
    display: inline;
<<<<<<< HEAD
    padding: 15px;
    
=======
    padding: 25px;
>>>>>>> js
 }
 
 #menu li a {
    text-decoration: none;
<<<<<<< HEAD
    color: #546de5;
=======
    color: #d8821f;
>>>>>>> js
    font-size: 20px;
 }
 
 #menu li a:hover {
    color: grey;
 }
 
 .p-30 {
    padding: 30px;
 }
 
 .br-50 {
    border-radius: 50%;
 }
 
 .wh-300{
<<<<<<< HEAD
    height: 300px;
=======
    height: 250px;
    padding: 100px;
>>>>>>> js
 
 }
 
 .tm-social {
    width: 50px;
    height: 50px;
 }
 
 .mb-50{
    margin-bottom: 50px;
 }
 
 
 
 /*Estilos da página contato.html*/
 
 .ml-50 {
    margin-left: 50px;
 }